---
layout: default
css_files: generations
js_files: refs
title: Mariot - Pietro Mariot
---
    <section>
        <h1>Pietro Mariot</h1>
        <p>
            <strong class="g4">Leda Mariot</strong> relata que <strong class="g0">Pietro Mariot</strong> era professor em uma faculdade.<sup>1</sup>
        </p>
        <p>
            Segundo dona <strong class="g4">Leda</strong>, <strong class="g0">Pietro</strong> não apenas tinha dinheiro, mas um verdadeiro palácio, que ainda existe (ou existia até o ano do relato, 1994) e é propriedade dos <strong>Mariot</strong> que vivem na Itália.
        </p>
        <p>
            O relato continua que <strong class="g0">Pietro</strong> fez um empréstimo para uma certa Margherita, também conhecida como "grande senhora", que embora fosse muito rica, viu-se em complicações financeiras. Mas a "grande senhora" perdeu tudo e <strong class="g0">Pietro</strong> foi à falência.
        </p>
        <p>
            Dona <strong class="g4">Leda</strong> conta que <strong class="g0">Pietro</strong> morreu seis meses depois do desastre financeiro, e que se não tivesse ocorrido, talvez os seus descendentes não tivessem deixado a Itália.
        </p>
        <p>
            Dona <strong class="g5">Irani Baldessar</strong> conta a mesma história, mas a versão dela é sobre <strong class="g1">Matteo</strong>, não <strong class="g0">Pietro</strong>.<sup>2</sup>
        </p>
    </section>
    <footer>
        <h2>
            Referências
        </h2>
        <dl class="references">
{% include ref.html
    url="downloads.html#1994"
    title="Paulo Mariot, 'Carta de Leda Tereza Mariot Belloli (pp. 1)' [Carta manuscrita]"
    stay=1
    extra="(Brasil, 1994)"
%}
{% include ref.html
    url="downloads.html#2021_2"
    title="Mateus Zuchinali Canani, 'Irani Baldessar fala sobre o trisavô Matteo' [Comunicação por arquivo de áudio]"
    stay=1
    extra="(Brasil, 2021)"
%}
        </dl>
    </footer>