---
layout: default
css_files: [generations, downloads_prototype]
title: Mariot - Downloads
---
        <h1>Downloads</h1>
        <section>
            <h2>
                Introdução
            </h2>
            <p>
                Aqui disponibilizo documentos que servem como referência para muitas histórias que estão neste site. Os documentos desta página estão organizados por localidade, data do fato ocorrido, data que o documento foi originalmente feito e data de emissão, nesta ordem. Esses documentos são de pessoas falecidas.
            </p>
            <p>
                Como existe uma quantidade enorme de pessoas com nomes repetidos, eu decidi pôr a ascendência das pessoas mencionadas em cada documento, desta forma:
            </p>
            
            <ul class="person">
                <li>Pessoa relevante</li>
                <li>Pai</li>
                <li>Avô</li>
                <li>Bisavô</li>
                <li>Etc.</li>
            </ul>
            <br />
            
            <p>
                Eu só me ocupei com a linha masculina, de onde vem o sobrenome, que eu só pús no ancestral mais antigo. (Os Mariot normalmente terminam em Pietro Mariot.) Desta maneira, fica mais fácil discernir entre Pietros e Marcos.
            </p>
            <p>
                Os indivíduos mencionados no documento aparecem em azul claro. Os indivíduos mais importantes de cada documento aparecem em verde. Em alguns documentos não tenho certeza se certos indivíduos são os mesmos que aparecem na lista. Esses indivíduos aparecem em amarelo.
            </p>


            <ul class="person main">
                <li>Principal</li>
                <li>Pai</li>
                <li>Etc.</li>
            </ul>
            <br />

            <ul class="person">
                <li>Mencionado</li>
                <li>Pai</li>
                <li>Etc.</li>
            </ul>
            <br />

            <ul class="person doubt">
                <li>Incerto</li>
                <li>Pai</li>
                <li>Etc.</li>
            </ul>
        </section>


{% assign downloads = site.data.downloads | sort %}
{% for section_downloads in downloads %}{%
     assign section = section_downloads[1] %}
        <section>
            <h2>
                {{ section.name }}
            </h2>
{% for file in section.files %}
            <a name="{{ file.anchor }}"></a>
            <div class="item">
                <div class="head">
                    <div class="year">
                        {{ file.year }}
                    </div>
                    <div class="title">
                        <h4>
                        {{ file.title }}
                        </h4>
                    </div>
                </div><!-- head -->
                <div class="body">
                    <div class="core">
                        <div class="data">
                            <div>
                                <span class="title">
                                    Tipo:
                                </span>
                                <span class="value">
                                    {{ file.type }}
                                </span>
                            </div>{% if file.author %}
                            <div>
                                <span class="title">
                                    Autor:
                                </span>
                                <span class="value">
                                    {{ file.author }}
                                </span>
                            </div>{% endif %}{% if file.source %}
                            <div>
                                <span class="title">
                                    Fonte:
                                </span>
                                <span class="value">
                                    {{ file.source }}
                                </span>{% if file.external_url %}
                            </div>
                            <div>
                                <span class="title">
                                    URL:
                                </span>
                                <span class="value">
                                    <a href="{{ file.external_url }}" target="_blank">{{ file.external_name }}</a>
                                </span>{% endif %}
                            </div>{% endif %}{% if file.player %}
                            <div class="player">
                                <audio controls>
                                    <source src="downloads/{{ file.file }}" type="audio/mpeg">
                                    <small>Seu navegador não suporta arquivos de áudio!</small>
                                </audio>                                
                            </div>{% endif %}
                            <div class="download">
                                <a href="downloads/{{ file.file }}" download>
                                    Download
                                </a>
                            </div>
                        </div><!-- data -->
                        <div class="file">
                            <a href="downloads/{{ file.file }}" download>
                                <img src="{% if file.player %}assets/images/illustrations/file_mp3_2.png{% else %}assets/images/downloads/{{ file.image }}{% endif %}" />
                            </a>
                        </div><!-- file -->
                    </div><!-- core -->

                    <div class="download">
                        <a href="downloads/{{ file.file }}" download>
                            Download
                        </a>
                    </div>
{% if file.people %}
                    <div class="people">{% for person in file.people %}
                        <div class="person{% if person.main %} main{% endif %}">
                            <div class="individual">
                                {{ person.name }}
                            </div>{% for ancestor in person.ancestors %}
                            <div class="ancestor">
                                {{ ancestor }}
                            </div>{% endfor %}
                        </div><!-- person -->{% endfor %}
                    </div><!-- people -->{% endif %}
                </div><!-- body -->
            </div><!-- item -->
{% endfor %}
        </section>
{% endfor %}

        <div class="help">
            Você possui documentos relevantes que não estão nesta página?<br />
            Por favor <a href="" class="m">entre em contato</a> e publicarei aqui.
        </div>
        