---
layout: default
css_files: generations
js_files: m
---
        <h1>
            Mariot
        </h1>
        <section>
            <p>
                Este site existe para documentar as origens da família Mariot no Brasil. Se você tiver informações, por favor entre em contato pelo seguinte endereço de email:
            </p>
            <p>
                <a href="" class="m"></a>
            </p>
            <p>
                Evidências, documentos, fotografias, correções para assuntos já abordados, histórias, são todos bem-vindos. Qualquer informação que ajude a reconstrução histórica dos Mariot eu tenho intenção de publicar.
            </p>
            <small>
                <em>
                    <strong>Nota sobre os Mariotti</strong>: A família Mariot explorada aqui é aquela dos imigrantes originalmente da província de Belluno, na Itália, que se estabeleceram no sul do Brasil no século 19, principalmente em Santa Catarina. Eu não me preocupei demasiado com variações do nome como "Mariotti", porque a evidência da conexão entre os dois limita-se à origem etimológica dos nomes. Como os Mariotti são muito mais numerosos, imigraram para várias partes do Brasil em vários momentos diferentes e não têm nenhuma relação direta com os Mariot de Belluno, eu não tive interesse de me aprofundar na história daquele grupo e não os considero parte da mesma família até obter sólida evidência em contrário.
                </em>
            </small>
            <p>
                <strong class="g6">
                    <a href="6-giancarlo.html" class="hide">Giancarlo Mariot</a>
                </strong>
            </p>
        </section>

        <section>
            <h2>
                Notícias
            </h2>
            <dl class="news">{% for news in site.data.news %}
                <dt>
                    {{ news.date }}
                </dt>{% if news.text %}
                <dd>{% for line in news.text %}
                    <div>
                        {{ line }}
                    </div>{% endfor %}
                </dd>{% endif %}{% endfor %}
            </dl>
        </section>
