nav {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: sans-serif;
    border-bottom: 1px solid black;
    font-weight: bold;
}

nav > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > ul > li {
    border-left: 1px solid black;
}

nav > ul > li.current a {
    color: maroon;
}

nav > ul > li:first-of-type {
    border-left: 0;
}

nav > ul > li > a {
    padding: 10px;
    color: #e81c4f;
    cursor: pointer;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: darkred;
    text-decoration: underline;
}
