                    <tr>
                        <td>
                            {{ include.year }}
                        </td>
                        <td>
                            <a name="{{ include.anchor }}"></a>
                            <ul>
                                <li>
                                    {{ include.title }}
                                </li>
                                <li>
                                    {{ include.type }}
                                </li>
                                <li>
                                    {{ include.source }}
                                </li>
                                <li>{{ include.people }}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a href="downloads/{{ include.file }}" download>
                                <img src="assets/images/downloads/{{ include.image }}" />
                            </a>
                        </td>
                    </tr>