                <dt></dt><dd>
                    <div class="ref">
                        <a href="{{ include.url }}"{% if include.stay == nil %} target="_blank"{% endif %}>
                            {% if include.lang != nil %}<em lang="{{ include.lang }}">{% endif %}{{ include.title }}{% if include.lang != nil %}</em>{% endif %}{% if include.date != nil %}                        [acessado {{ include.date }}]{% endif %}
{% if include.extra != nil %}                           &nbsp;{{ include.extra }}{% endif %}
                        </a>
                    </div>{% if include.ibids != nil %}{% for ibid in include.ibids %}
                    <div class="ref">
                        <a href="{{ include.url }}">
                            <em>Ibid.</em> {{ ibid }}
                        </a>
                    </div>{% endfor %}{% endif %}
                </dd>