                <dt></dt><dd>
                    <a href="{{ include.url }}"{% if include.stay == nil %} target="_blank"{% endif %}>
{% if include.lang != nil %}
                        <em lang="{{ include.lang }}">
{% endif %}
                            {{ include.title }}
{% if include.lang != nil %}
                        </em>
{% endif %}
{% if include.date != nil %}
                        <span>
                            [acessado {{ include.date }}]
                        </span>
{% endif %}
                    </a>
                </dd>