a.citation {
    font-size: 0.9em;
    vertical-align: super;
    text-decoration: none;
    text-transform: lowercase;
    &:hover {
        color: blue;
    }
}

ol.bibliography {
    list-style: none;
    // background: red;
    padding: 0;
    li {
        display: block;
        float: left;
        clear: both;
        // background: orange;
        position: relative;
        span.idx {
            display: block;
            float: left;
            // background: yellow;
            position: absolute;
            top: 0;
            left: 0;
            text-align: right;
            width: 20px;
            color: #e81c4f;
            &:after {
                content: ".";
            }
        }
        span.idx + span {
            display: block;
            padding: 0 0 0 24px;
            float: left;
            clear: both;
            // background: green;
            // color: white;
        }
    }
}