.item {
	.body {
		.download {
			padding: 10px 0 0 0;
			a {
				display: block;
				padding: 10px;
				text-align: center;
				background: #e81c4f;
				color: #fff;
				text-decoration: none;
				&:hover {
					background-color: #a71136;
				}
			}
		}
	}
}

.item {
	display: flex;
	flex-direction: column;
	border: 1px solid #666;
	margin-top: 10px;
    -webkit-box-shadow: 10px 10px 40px 0px rgba(42, 42, 42, 0.1);
       -moz-box-shadow: 10px 10px 40px 0px rgba(42, 42, 42, 0.1);
            box-shadow: 10px 10px 40px 0px rgba(42, 42, 42, 0.1);


	.head {
		display: flex;
		background-color: #eee;
		padding: 10px;
		cursor: pointer;
		&:hover {
			background-color: #ddd;
		}
		.year {
			flex-basis: content;
			color: #e81c4f;
			font-family: AltGeorgiaBold;
		}
		.title {
			flex-grow: 1;
			flex-basis: auto;
			padding-left: 10px;
			color: #566b78;
			font-family: AltGeorgiaBold;
			em {
				font-family: AltGeorgiaBoldItalic;
			}
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		border: 0 solid #666;
		.core {
			display: flex;
			padding: 10px;
			.data {
				width: 100%;
				.row {
					display: table-row;
					.title,
					.value {
						display: table-cell;
						padding: 0 10px 0 0;
					}
					.title {
						text-align: right;
						color: #222;
					}
					.value {
					}
				}
				.player {
					padding: 20px 20px 10px 10px;
					audio {
						width: 100%;
					}
				}
				.download {
					text-align: center;
					display: flex;
					width: 100%;
					a {
						display: inline-block;
						min-width: 250px;
						align-self: end;
					}
				}
			}
			.file {
				flex-basis: content;
				a {
					display: flex;
					border: 1px solid black;
					padding: 3px;
				}
				img {
					max-width: 150px;
				}
			}
		}

		& > .download {
			display: none;
		}

		.people {
			border: 0 solid grey;
			border-top-width: 2px;
			margin: 3px 0 0 0;
			padding: 10px;

			.person {
				display: flex;
				padding: 3px 0 0 0;

				.individual,
				.ancestor {
					flex-basis: 20%;
					flex-grow: 0;
					font-size: 0.8em;
					background-color: #eee;
					border: 1px solid #ccc;
					padding: 0 3px;
					margin: 0 2px;
					border-radius: 2px;
				    -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
				       -moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
				            box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
				    white-space: nowrap;
				    text-overflow: ellipsis;
				}

				&.main {
					.individual {
						background-color: honeydew;
						border-color: darkslategray;
					}
				}

				.ancestor:before {
				    content: " â® ";
				}
				
			}
		}

	}
}


@media (max-width: 991px) {
	.item {
		.body {
			.download {
				padding: 0 10px 10px 10px;
			}
			.core {
				.data {
					.row {
						display: block;
						.title,
						.value {
							display: block;
						}
						.title {
							min-width: unset;
							display: block;
							text-align: left;
							font-weight: bold;
						}
						.value {
							clear: both;
							font-size: 0.8em;
						}
					}
					.download {
						display: none;
					}
					.player {
						padding: 20px 0px 0px 0px;
					}
				}
				.file {
					img {
						max-width: 80px;
					}
				}
			}
			& > .download {
				display: unset;
			}
			.people {
				.person {
					.individual,
					.ancestor {
						flex-basis: 33.333333%;
					}
					.individual {
					}
					.ancestor {
						// display: none;
					}
				}
			}
		}
	}
}


.item {
	.toggle {
		display: none;
	}
}

.item .toggle + .head + .body {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
}

.item .toggle:checked + .head + .body {
	max-height: 100vh; //unset;
}


