.gallery {
    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    max-width: 225px;
    max-height: 225px;
}

.gallery picture {
    display: flex;
    border: 1px solid #ddd;
    width: 245px;
    min-height: 245px;
    padding: 10px;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0.2em;
}

.gallery picture a {
    background: #EEE;
    display: flex;
    width: 225px;
    height: 225px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery picture legend,
.gallery picture small {
    display: block;
}

.gallery picture legend {
    text-align: center;
    font-size: .8em;
    padding: 10px 10px 0 10px;
}
