<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% if page.title == nil %}Mariot{% else %}{{ page.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/metismenujs.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
{% for item in page.css_files %}
    <link rel="stylesheet" type="text/css" href="assets/css/{{ item }}.css" />
{% endfor %}
{% include icon.html %}
{% if page.trigger_redirect != nil %}
    <meta http-equiv="refresh" content="7; url='{{ page.trigger_redirect }}'" />
{% endif %}
</head>
<body>
{% include nav.html %}
    <main>
{{ content }}
    </main>
    <script src="assets/js/metismenujs.min.js"></script>
    <script src="assets/js/nav.js"></script>
{% for item in page.js_files %}
    <script src="assets/js/{{ item }}.js"></script>
{% endfor %}
</body>
</html>
