.z0, .g0, .g1, .g2, .g3, .g4, .g5, .g6, .g7 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

strong.z0,
strong.g0,
strong.g1,
strong.g2,
strong.g3,
strong.g4,
strong.g5,
strong.g6,
strong.g7 {
    font-weight: bold;
    font-family: "AltGeorgia";
}

.z0 {
    text-decoration-color: #ccc;
}

.g0 {
    text-decoration-color: #666;
}

.g1 {
    /*text-decoration-color: #b30000;*/
    text-decoration-color: #e60000;
}

.g2 {
    /*text-decoration-color: #ff4500;*/
    text-decoration-color: #ff8c00;
}

.g3 {
    /*text-decoration-color: #daa520;*/
    text-decoration-color: #e6c200;
}

.g4 {
    text-decoration-color: #008000;
}

.g5 {
    text-decoration-color: #0000b3;
}

.g6 {
    text-decoration-color: #4b0082;
}

.g7 {
    text-decoration-color: #c71585;
}

ul.person {
    list-style: none;
    margin: 0;
    padding: 0 0 2px 0;
    float: left;
    clear: both;
}

ul.person li:first-of-type {
    background: aliceblue;
    border-color: darkslategray;
}

ul.person.main li:first-of-type {
    background: honeydew;
    border-color: darkslategray;
}

ul.person.doubt li:first-of-type {
    background: lemonchiffon;
    border-color: darkslategray;
}

ul.person li:first-of-type:before {
    content: "";
}

ul.person li:before {
    content: " ❮ ";
}

ul.person li {
    font-size: 0.8em;
    float: left;
    min-width: 105px;
    padding: 0 3px;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 4px;
    background: #eee;
    border-color: #ddd;
}
